<div class="col-xs-10 col-xs-offset-1 about">
   <h1>About Splurty</h1>
   
   <p>
      This Splurty app was built by Brandon Gorman of When The Moment Comes, Beard and Co. and the live band for Old City Revival.
   </p>
   <br />
   <p>
      He has spent many hours playing and listening to music and many hours playing with and listening to musicians.
   </p>
   
   <div class="col-xs-12 col-sm-4">
      <%= image_tag 'brandon.jpg', class:'img-responsive' %>
   </div>
   
   <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class = "text-center">Brandon Gorman</h2>
      <br />
      <p>
         Brandon plays with 4 different bands and has a solo project and has sang lead and harmony vocals and played guitar, bass, ukulele, piano, and harmonica.
      </p>
   </div>
   <br class="clear" />
   <br />
   <br />
   <br />
   <br />
   
</div>